.container{
    width: 95%;
    margin: auto;
}

.group h1{
    width: 530px;
    height: 48px;
    font-family: Lato;
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    color: #1F1F21;
    margin: auto;
}

.group p{
    width: 1200px;
    height: 180px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    color: #515151;
    margin: auto;
    margin-top: 2rem;
}

.vision h1{
    width: 189px;
    height: 48px;
    font-family: Lato;
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    color: #1F1F21;
    margin: auto;
    margin-top: 4rem;
}

.vision p{
    width: 1200px;
    height: 130px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: #515151;
    margin: auto;
    margin-top: 2rem;
}

.mission h1{
    width: 218px;
    height: 48px;
    font-family: Lato;
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    margin: auto;
    color: #1F1F21;
    margin-top: 4rem;
}

.mission p{
    width: 1200px;
    height: 130px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: #515151;
    margin: auto;
    margin-top: 2rem;
}